<h1>This is login page</h1>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>SUMBIT</button>
</form>
<li><a href="/register">SIGN UP</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>